*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
pkg/

# Berkshelf
.vagrant
/cookbooks
cookbooks.tar.gz
Berksfile.lock

# Bundler
bin/*
.bundle/*

VERSION
credentials.json
metadata.json
vendor
